@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F6F6E8;
  --foreground: #737373;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-sans font-bold;
  }
  
  p {
    @apply font-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
